@page "/"

<h1>Pace Calculator</h1>

<EditForm Model="@_model" OnValidSubmit="CalculatePace">
    <ObjectGraphDataAnnotationsValidator />
    <ValidationSummary />
    <fieldset>
        <label>Goal Time</label>
        <InputNumber @bind-Value="_model.Goal.Hours" placeholder="hours" class="timespan"  /> :
        <InputNumber @bind-Value="_model.Goal.Minutes" placeholder="minutes" class="timespan" /> :
        <InputNumber @bind-Value="_model.Goal.Seconds" placeholder="seconds" class="timespan" />
    </fieldset>
    <fieldset>
        <label for="Distance">Distance</label>
        <InputSelectNumber @bind-Value="_model.Distance">
            <option label="" selected></option>
            <option value="@Calculator.Distance5Km">5 km</option>
            <option value="@Calculator.Distance10Km">10 km</option>
            <option value="@Calculator.DistanceHalfMarathonInKm">Half marathon</option>
            <option value="@Calculator.DistanceMarathonInKm">Marathon</option>
        </InputSelectNumber>
    </fieldset>
    <button class="btn btn-primary" type="submit">Calculate</button>
</EditForm>
@if (_model.TimeSpan.HasValue)
{
    <br/>
    <div class="alert alert-success" role="alert">
        Pace = @_model.FormatPace()
    </div>
}


@code {
    private PaceCalculatorModel _model = new PaceCalculatorModel();

    private void CalculatePace()
    {
        _model.TimeSpan = Calculator.FromGoalTime(_model.Goal, _model.Distance.Value);
    }
}